<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body>
	<nav>
		<ul class="ulTools">
			<li><a th:href="@{/notes/addNew}" th:text="Add"></a></li>
			<li th:if="${note != null}"><a
				th:href="@{/notes/edit/{id}(id=${note.id})}">Edit</a></li>

			<li th:if="${note != null}"><a
				th:href="@{/notes/delete/{id}(id=${note.id})}">Delete</a></li>
		</ul>
	</nav>
</body>
</html>