<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
<title>Add Note</title>
</head>
<body style="font-family: Verdana; color: #BBBDBC">
	<div th:replace="fragments/header :: header"></div>
	<div th:replace="fragments/tool-nav :: nav"></div>
	<div style="overflow: auto">
		<form action="#" method="POST" th:object="${note}"
			th:action="@{/notes/save}">
			<div class="main">
				<input type="text" placeholder="Title" th:field="*{title}">
				<textarea cols="10" rows="10" th:field="*{content}"></textarea>

				<button type="submit">Save Note</button>
			</div>
		</form>
	</div>
</body>
</html>