@charset "UTF-8";

* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

header {
	background-color: #666;
	color: white;
	padding: 10px;
	font-size: 35px;
	text-align: center;
}

section {
	display: -webkit-flex;
	display: flex;
}

nav {
	background-color: #ccc;
}

.navLinks {
	float: left;
	width: 30%;
	padding: 20px;
}

.ulTools {
	display: flex;
	justify-content: center;
	gap: 30px;
	padding: 6px;
	margin: 0;
}

nav ul {
	list-style-type: none;
	padding: none;
}

a:link {
	text-decoration: none;
}

article {
	flex: 3;
	background-color: #f1f1f1;
	padding: 10px;
}

footer {
	background-color: #777;
	padding: 10px;
	text-align: center;
	color: white;
}

textarea {
	width: 100%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	resize: none;
}

@media ( max-width : 600px) {
	section {
		-webkit-flex-direction: column;
		flex-direction: column;
	}
}